#heading {
    padding: 40px;
  }
  #mushroom{
    border-radius: 60%;
    padding: 40px;
  }
  #buttons{
    padding: 40px;
  
  }
  #name{
    margin-left: 100px;
    margin-right: 100px;
    color: #29524A;
  }
  
  #info {
    margin-left: 150px;
    margin-right: 150px;
  }
  
  #background {
    background: #E9BCB7;
    border-radius: 70%
  }
  #titles{
    background: #ffffff;
  }
  
  body {
    font-family: system-ui;
    background: #f06d06;
    color: white;
    text-align: center;
  
  }
  button {
      border: none;
      border-radius: 10px;
      padding: 0px 15px;
      height: 58px;
    font-size: 25pt;
      font-weight: bold;
      background: lightgrey;
      color:black;
      margin-left: 20px;
      vertical-align: middle; 
  }
  body, select {
      color: #06070E;
      background: #fff;
      font-family: "NHaasGroteskDSPro-75NBd","HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 40px;
      line-height: 38px;
  }
  
  
  select {
    border: solid;
    border-color: black;
    border-radius: 10px;
    
  } 
  
  select:focus {
  outline: none;
  border: none;
  }
  
  select:hover {
  cursor: pointer;
  }